/*********************************************************************************/
body {
	background: whitesmoke;
	font-family: Montserrat;
}
/*********************************************************************************/
header {
	width: 80%;
	margin: auto;
	background-color: #630101;
	text-align: center;
}

header img {
	width: 100%;
}
/*********************************************************************************/
nav {
	width: 80%;
	margin: auto;
	background-color: #630101;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #630101;
}

nav ul li {float: left; border: solid 0px}
nav ul li.right {float: right; border: solid 0px}

nav ul li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {background-color: #111; color: whitesmoke;}

nav ul li a.active {color: yellow}

@media screen and (max-width: 600px) {
	nav ul li.right, 
	nav ul li {float: none;}
	.desktop {display: none;}
	header{width: 100%;}
	nav{width: 100%;}
	section{width: 100%;}
	footer{width: 100%;}

}

@media screen and (min-width: 600px) {
	.mobile {display: none;}
}
/*********************************************************************************/
section {
    background-color: white;
	width: 80%;
	margin: auto;
    padding-top: 1px;
}

section p {
	text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

section img {
    max-width: 100%;
}

/*********************************************************************************/
footer {
	width: 80%;
	margin: auto;
  color: whitesmoke;
 	background-color: #630101;
	text-align: center;
}
/*********************************************************************************/

.product td.centered {
    text-align: center;
}

.product td.sep {
    width: 2%;
}

.product td.content {
    width: 48%;
}

.product p {
	text-align: justify;
}

.product td.content {
    background-color: white;
}

strong, h1, h3, h4 {
    color: #630101;
}